frontend
nltk
python-multipart
addict
datasets
tools
oss2
torch
transformers
sentence-transformers
chromadb==0.5.5
tiktoken
transformers_stream_generator
einops
accelerate
flash-attention
SentencePiece
PyJWT
PyMuPDF
python-pptx
python-docx
unstructured
fastapi
openai
sqlalchemy
pymysql
pycryptodome
langgraph
langchain_experimental
langchain_community==0.2.16
langchain_openai
uvicorn
sse_starlette
pyinstaller
colorlog